body{
    text-align: center ;
}

/* dark mode styles */
@media screen and (prefers-color-scheme: dark) {
    body {
      background-color: #3a3b3c;
      color: white;
    }
    
    #expInput{
      background: transparent;
      border: none;
      color: #fff;
      border-bottom: 1px solid #fff;
    }
}

.exp-section{
  margin: 2rem;
}